.stage {
  position: relative; /* REQUIRED */
  width: 900px;
  height: 500px;
  margin: auto;
}

.bg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.doll {
  position: absolute; /* REQUIRED */
  bottom: 30px;
  right: 40px;
  width: 250px;
  height: 400px;
}

.doll img {
  position: absolute; /* REQUIRED */
  top: 0;
  left: 0;
  width: 100%;
}
.stage {
  position: relative;
  width: 900px;
  height: 500px;
  margin: auto;
}

.closet {
  position: absolute;
  left: 30px;
  top: 60px;
  width: 300px;
  height: 380px;
}

.item:nth-child(1) {
  position: absolute;
  top: 20px;
  left: -90px;
  width: 250px;
}

.item:nth-child(2) {
  position: absolute;
  top: 20px;
  left: 70px;
  width: 250px;
}

.item:nth-child(3) {
  position: absolute;
  top: 20px;
  left: 230px;
  width: 250px;
}
.item:nth-child(4) {
  position: absolute;
  top: 95px;
  left: -90px;
  width: 250px;
}
.item:nth-child(5) {
  position: absolute;
  top: 95px;
  left: 70px;
  width: 250px;
}
.item:nth-child(6) {
  position: absolute;
  top: 95px;
  left: 230px;
  width: 250px;
}
.item:nth-child(7) {
  position: absolute;
  top: 50px;
  left: -90px;
  width: 250px;
}
.item:nth-child(8) {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 250px;
}
.item:nth-child(9) {
  position: absolute;
  top: 170px;
  left: 380px;
  width: 250px;
}
.item:nth-child(10) {
  position: absolute;
  top: 230px;
  left: -90px;
  width: 250px;
}
.item:nth-child(11) {
  position: absolute;
  top: 240px;
  left: 70px;
  width: 250px;
}
.item:nth-child(12) {
  position: absolute;
  top: 70px;
  left: 400px;
  width: 250px;
}
.item:nth-child(13) {
  position: absolute;
  top: 250px;
  left: 400px;
  width: 250px;
}
.clear-buttons {
  position: absolute;
  top: -10px;      /* 10px from bottom */
  left: 10px;        /* 10px from left */
  display: flex;
  gap: 8px;
  /* allows wrapping if too many buttons */
}

.clear-buttons button {
  padding: 2px 8px;              /* smaller padding for smaller buttons */
  background-color: #ffccd5;     /* light pink */
  color: #000;                    /* black text */
  font-size: 12px;                /* smaller text */
  border: 1px solid #ff99aa;     /* slightly darker pink border */
  border-radius: 5px;
  cursor: pointer;
}

.clear-buttons button:hover {
  background-color: #ffb3c2;     /* darker pink on hover */
}
